.DS_Store

# Frontend (Next.js / Node)
# ---------------------
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

frontend/.next/
frontend/out/
frontend/build/

# Env files
frontend/.env*
frontend/*.pem

# Logs / Debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Misc
frontend/.DS_Store
frontend/next-env.d.ts
frontend/*.tsbuildinfo
frontend/.vercel
#foundry
contracts/lib